:root {
  --bg-color: #effffd;
  --sub-color--low: #b8fff9;
  --sub-color--high: #85f4ff;
  --sub-color--dark: #EEA4B8;
  --sub-color--dark-2: #d25b83;
  --text-color-dark: #292f33;
  --text-color-light: #bbb;
  --color-dark: #0d0c22;
}
body {
  color: var(--text-color-dark);
}

html {
  font-family: "Sora", sans-serif;
}
* {
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

.error-message {
  text-align: center;
}


.lds-ring {
  display: block;
  position: relative;
  width: 90px;
  height: 90px;
}
.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 8px;
  border: 8px solid #ccc;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ccc transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}