.header {
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    background: #79a1f9;
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + section {
    padding-top: 60px;
}

.logo {
    font-size: 30px;
    color: var(--sub-color--logo);
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.user-email {
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
    color: var(--sub-color--logo);
}

.nav {
    display: flex;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

.nav__item {
    padding: 0 20px;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    padding: 3px;
    transition: 0.2s ease-out;
}

.nav__link:hover {
    border-bottom: 3px solid var(--sub-color--logo);
}

.nav__link:visited,
.nav__link:link {
    color: #fff;
}

.cart-logo {
    position: relative;
    cursor: pointer;
    margin-left: 200px;
}
.cart__icon {
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
}
.cart__count {
    background: var(--sub-color--logo);
    color: #000;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
    position: absolute;
    right: 0;
    top: -7px;
}
