/* .wrapper {
  background: rgb(171, 227, 233);
  background: linear-gradient(
    48deg,
    rgba(171, 227, 233, 1) 46%,
    rgba(66, 194, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
} */



.cart {
  position: relative;
  cursor: pointer;
  margin-left: 200px;
}
.products {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}

.products__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--color-dark);
}

.products-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px 30px;
  margin-top: 15px;
}

.product__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #fff;
}

.product__image-box {
  width: 100%;
  height: 50%;
}

.product__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__info {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  height: 100%;
  align-items: flex-end;
}

.product__detail {
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product__category {
  font-size: 12px;
  padding: 3px 10px;
  background: var(--sub-color--dark);
  color: #fff;
  margin-bottom: 10px;
  border-radius: 3px;
}

.product__title {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

.product__price {
  display: flex;
  flex-direction: column;
}
.product__price-text {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--text-color-light);
}
.product__price-value {
  font-size: 20px;
}

.btn-add {
  background-color: var(--sub-color--dark-2);
  border-radius: 50%;
  border: none;
  height: 35px;
  width: 35px;
  justify-self: flex-end;
  padding-top: 3px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.btn-add:hover {
  transform: scale(1.15);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.btn-add i {
  font-size: 18px;
  color: #fff;
}

.rap {
  background-color: #00C897;
}

.pop {
  background-color: #E680C2;
}

.lofi {
  background-color: #A9A1FC;
}

.hiphop {
  background-color: #3B5272;
}

.rnb {
  background-color: #E94958;
}

.jazz {
  background-color: #815B93;
}
.
